<div id="ptitle" class="page-title page-title_anime">
    <div class="page-title__text page-title__text--russian">{{ page.title }}</div>
    <div class="page-title__text page-title__text--japanese">{{ page.title_jp }}</div>
</div>

<noscript>
    <div id="warn_player">Включите пожалуйста Javascript!</div>
</noscript>

<div class="post-container post-container_video">

    <ul class="post-container__video-select video-select">
        <li class="video-select__item">
            <span class="link-button link-button_disabled video-select__link video-select__link_prev">Назад</span>
        <li class="video-select__item">
            <span class="link-button link-button_disabled video-select__link video-select__link_next">Вперёд</span>
        <li class="video-select__item video-select__item_center">
            <div id="select" class="video-select__list"></div>        
    </ul>
    <div id="player_container" class="player-box post-container__player-box">
        <img class="player-box__aspectratio" src="/assets/img/16x9.png" alt=""/>
        <div id="player" class="player-box__video"></div>
    </div>
</div>

<script src="/assets/player.js">
</script>

	    <!-- disqus -->
<!-- <div style="margin: 5px 20px 20px;">
 	<div class="smallfont" style="margin-bottom: 2px;">
 	<b>Комментарии (обновите страницу, чтобы увидеть комментарии текущей страницы:( )</b>: <input onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = ''; this.innerText = ''; this.value = 'Close'; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.innerText = ''; this.value = 'Open'; }" style="font-size: 10px; margin: 0px; padding: 0px; width: 60px;" type="button" value="Open/Close" /> </div>
 	<div class="alt2" style="border: 1px inset; margin: 0px; padding: 6px;">
 	<div style="display: none;">
    -->
    
        <div id="disqus_thread"></div>
		
<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-gallery-player-widget" style="width:0px; height:0px; display:none;"
  data-link="https://photos.app.goo.gl/FZKtrSpzHMkURHSR7"
  data-title=""
  data-description="">
  <object data="https://lh3.googleusercontent.com/G1ZPEzd_HtM-nZpEBqNpuZGoM7fKDs_yGlsPtD8GDn7zpE0i1VgTOYXrCK5reGWVmwCAeDKqNfkgDWw95LeQgjB0YHH6CMsFUD1hEdnwgn7b6CK_Q4qaD_JLlg44aUbX8VeLJwdGvg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/fLqZo3Y9R2xocT79cki-ozKxDEAJayYQfRs4R1m62Ar4fyRtY6mljCh1vW9w-KbOufYxYqCKpoiUPyQHPJbmqaU86mHBZgi91kk9AxiVw_lvvfzBhg2Ex_3_Os7MggNPBCtNtBX1gg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/JPHri7gBUwRMPv-YHiBN54WBChxurnWsXGkaTU9D4EWwHma2UCqh1Riq10xsNfDyM1nAZumMK9yQVthn7IVd4Yau8CuRrMw0_6Vxs6ndTsT_IZQKrtXKP4KgJB4WqtSdcRCaQ0SRuA=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/NktpGcFI1AczgWIqiJ17sTGM7uQthBlnMNRHHWBFGPfb-Aimv3s0_lsi3Y2fEPt1euwGIE9BUVtORTomUtagTkDgIy5pQhBl6xZrpvtlmfoF21pB8Ib0WFmUYmxe3nZfYN8y8VlOFg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/HyEeF8b4BIU10a9FalOKGwNxY6L4gg-zfAygeZyx8juKG17Dc-lFeD9DvF50ZipHtBlsoyqW9QSxHlnvpZJk7M7O90koRqfatgFhwAn2oiKindnp7MU05IIJjQgO-5FnDIzUTLdKhA=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/_AiSSnRjTuE00ExnPVao3-zgoVpFKd5gLZ5cbNFWeB6B8eMRVDxK49ZLG0Ov-KHVA_dOakZC5nK_se89NmlUMCJyjzpxv3eUjBjlPFW_PbugdxUe48hPDsTmjF_q9zIrjRFgB18kpg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/XeE2kToPGwIrGeE6cXha0nwQKF7M1b0hKPV0dzebEFrcuyw_Z8u41fvtljYjwIFNzbq-PSGZkqNWjGhZ__tRIjFj0AZ2iPrEE6cX-fztERoWY8utc-FGHs77hud-i45NLB2VYFLCAg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/DJgEHhc-CS5DsEJzkQEKE08ko2jMU3pNjk1Pu3eTrxhEVm6X4NOmyDsU2R4YZcfX3QkUwv-UI3B4ApQjIgX5wFzkrSmu3YepveHc0P6UQE14JMux8Sya2XdxbV3pDl1jxj_VQySn8w=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/J5uEIMgNS8P565KCFX40TAkQ2KVkkOulRko6J34Qnks0Gwzs2THIc0oUm9K7Q4PlzmsIqgNB10FcvKH1AnRMmgpdXjKsBHWdZucbUZk3wfWK0Jg5ROTYQ1pja3aBmkrWUq06-9Nuqg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/qhVhW30CuMJeSPX4lc6j5j_X0wocTzynBFvWpRL9egFMhPDW5r3aMwIz4zWwKQxDUEnGuDjGlJoiDir8qe8sOdSUcDer3LnTeM-ad7I5mz16pPqaltqlVAHfaQR-66R9o-D-vHgzDQ=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/_dnc3EBb0MBvE664dnSFfOwQKdrtT3BPbHQl-GA_aTo_WlOs2-T8THpiyUyIpbfbelhwu5BkM55fT9MxYmWsF0BV-AEos4juQZHBf5Fh7eMCSiQFp3R_dXxa4dQzowX7HoRfDGW28Q=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/TeMtO9UlAZl_UaTG7EkzEDe3wYyh0UhwY-X0U1BLd1U0n8Xb0ohtboIma8Xw5VmiiLpOB8JaBHayKD1n9xoeBR6M0gTjFJ7f2uFiJda3RYZl-3UOm29kNg79cCQ1jRW2tdWiDrYElg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/w-TytcwnHnwOnPcuyloUroOuETpkIwRF4mJOmdwdJIor9Gse03qxy2Rk8TBHzcYkeF7fA7cA6wgK3WdpSJ5eKMlFZAeK-1hYdgl_dHatl_fV6eSO41zSAL7WtectaGEgDA8coU78SA=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/3FBCO39owlHA5tjK-lA90SSk7Xy_7fgQBw7lWyJ92z_lh6sdYZaaesdjJsDqRBfwgSP5aMRp6caJqAfv5gq1FGrzMoRjaH8KDq8bkea6wn6gHBq1IEBj9UHw9Ml08oT5uy4JaBtJFg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/Lwowj9RLGHXUEzjMhZPFUi32wK4e5hfiprvYwClGw8QeegzDXEJrlH5oxzWo0J2aJRNwxXVKuhioPUzSHebpVB6uUIIUmyw8t5i9NDO_uBiFeps1M2Ih-n3Dwm52X8w-yOVkc7OZow=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/60QTR3Ukm_65chVU6e95SHaOPEXBW0htpX5T9ulE_ouhlZFbwCZ3xSianlekxBVWrGqvGtDLeDbejetCss18HV7nrVz583whipoyeduZFKYgWJQaGj2kQ_PFVqASgzE3aEz8Ymxv0A=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/hXDL3NqkSB3q_pygasaBXfPn3TOus-CZJZgHN6NAc74WCZj1q0au6vKc87kayi4OC1cOiCvsvaq2Q5ILlDesnnpmIv8ePNShP-LKLnmUKrRvbfNhVeqCvZeDLMQc5C4nON2_3XcnzQ=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/s8K9C5zqCjZugJAZMDvkM7T4ouaYGKJRoSsXNFA85frhh33lhkkk3X-z-eu3-BOjfEYB3Gh-7o0WdyYMDG03btZWt8Mh7Ja6W7R1SdX5Ifc0XuP6mqveZmPBNH4piChUF7kB3pXvvg=m37" type="video/mp4"></object>
  <object data="https://lh3.googleusercontent.com/oyKWYPvpb-Ahuo7-SxkC0M7FbGzvLzFepLWGwKXvObxrUjYVOOEFZZg-SwILUl04VZpsGZQjqhMWvSIk9AGp0_4fxn8ZdFsnlS6tmKCJdDc165y3cpaywGTizbskdmnrsQVRw6a9Dw=m37" type="video/mp4"></object>
</div>



<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{content.absolute_url}};  
this.page.identifier = {{content_id}}; 
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://59cmvwd.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        
        
        <!--
        </div>
 	</div>
 	</div> -->
    <!-- disqus -->



<div class="post_footer">
    <a class="link-button" href="/">На главную</a>
</div>
